* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 1em;
}

/*.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}*/

hr {	
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header hr {
	width: 165%;
	margin-left: -50%;
}


/************ Footer Contact Info ************/
footer {
	font-size: 1em;
	text-align: center;
}

footer li {
	margin: 0 auto;
	padding: 1% 0;
	list-style: none;
}

.socialMedia img {
	opacity: 0.2;
	margin-right: 2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
}

.socialMedia img:hover {
	background-color:  #07C9F5;
	background-size: 30px 30px;
	opacity: 1;
}


/******************** Nav Style ********************/
nav {
	margin: 0 auto;
	padding: 2% 0;
	font-family: 'Lato', sans-serif;
	font-weight: '400';
	text-align: center;
}

nav ul {
	margin: 0 auto;
	width: 100%;
	list-style: none;
}

nav ul li {
	display: inline;
	padding: 5% 5% 5% 0;
}

nav a:link, a:active a:visited {
	color: inherit;
	text-decoration: none;
}

nav a:hover, nav li.active {
	color: #07C9F5;
	text-decoration: none;
}

/****** Main Content ********/
#profilePic {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 10px #777;
	-webkit-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777; 
	display: block;
	margin: 0 auto;
}

.content {
	width: 80%;
	padding: 1%;
	margin: 0 auto;
}

.hello {
	width: 80%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .accordion label {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
}

.twitter-timeline {
	height: 300px;
	display: block;
	margin: 0 auto;
}

/****** Links and Hover ******/
a:link, a:active, a:visited {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #07C9F5;
	text-decoration: underline;
}

:focus {
	outline: 0;
}

/***** Blog page *****/
div.menu h2:hover {
	color: #07C9F5;
}


/**** Project Page ****/
article {
	margin: 2% auto 10% auto;
	text-align: center;
}

article.project img {
	width: 600px;
}

.shadow {
  -moz-box-shadow:    1px 1px 6px #555;
  -webkit-box-shadow: 1px 1px 6px #555;
  box-shadow:         1px 1px 6px #555;
}

.projectCaption {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

a.projectTitle {
	text-decoration: none;
}

/**** Project Sections ****/
section.project {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 5%;
	text-align: center;
}

.description {
	width: 80%;
	margin: 0 auto;
}

.caption {
	font-size: 1em;
}

.lightbox img {
	padding: 0 1% 1% 0;
}


/****** Madlibs Project ******/
#pitch {
	width: 30%;
	margin: 0 auto;
	border: 1px solid black;
	text-align: center;
	background: white;
}


#pitch:hover {
	background-color: #07C9F5;
}

form {
	margin: 0 auto;
}

form ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

form ul li {
	margin: 3% auto;
}

input {
	display: inline-block;
	text-align: center;
	width: 60%;
}
