* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}


#container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}


body {
	font-family: 'Crimson Text', serif;
}


nav {
	padding: 2% 1% 0 1%;
	margin: 2% auto;
	width: 70%;
	font-size: 1em;
}

ul {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

nav li {
	display: inline;
	padding: 5% 5% 5% 0;
}

aside {
	float: left;
	height: 100%;
	margin: 0 auto;
	padding: 3%;
}

aside img {
	display: block;
	margin: 20% auto;
}

img[alt=ProfilePicture] {
	border-radius: 50%;
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 10px #777;
	-webkit-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777; 
}

/*nav figure {
	display: inline-block;
	padding: 1%;
	text-align: center;
	width: 20%;
	margin-bottom: none;
}

nav figcaption {
	padding-top: 5%;
}*/

.content {
	width: 70%;
	padding: 1%;
	margin: 0 auto;
	font-size: 1.3em;
}

article {
	margin: 0 0 1% 0;
	padding: 5% 0;
}

nav, h1, h2, h3, h4, h5, h6, .accordion label {
	font-family: 'Raleway', sans-serif;
}

a:link, a:active, a:visited {
	color: inherit;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #07C9F5;
	text-decoration: underline;
	font-weight: bold;
}

nav a:link, a:active a:visited {
	color: inherit;
	text-decoration: none;
}

nav a:hover {
	color: #07C9F5;
	text-decoration: none;
	font-weight: bold;
}

.accordion label {
	position: relative;
	z-index: 20;
	cursor: pointer;
}

.accordion label:hover {
	color: #07C9F5;
}

.accordion article {
	overflow: hidden;
	height: 0px;
	position: relative;
	margin: -1px auto 0 auto;
	padding: 0;
	z-index: 10;
	transition: height 0.3s ease-in-out;
}

.accordion input:checked ~ article {
	transition: height 0.5s ease-in-out;
	height: 750px;
}


.accordion input {
	display: none;
}


