body {
    display: flex;
    flex-direction: column;
    font-family: 'Abel', 'Helvetica', sans-serif;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 1.5em 0;
    width: 70%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter', 'Helvetica', sans-serif;
    margin: 0;
    padding: 1rem 0;
}

h1 {
    font-size: 2em;
}

p {
    margin: 1em 0 1.5em 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #07dda4;
}

nav .wrapper {
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1em;
    margin-left: auto;
}

nav ul li {
    flex: 1;
}

nav ul li:hover {
    color: #07dda4;
    cursor: pointer;
}

#name {
    font-size: 2.5em;
}

.bkgLight { 
    background-color: #eee;
    color: #222;
}

.bkgDark {
    background-color: #222;
    color: #eee;
}

#hello p {
    margin-top: 0;
}

.project {
    align-items: center;
    display: flex;
    gap: 3%;
    padding: 5% 0;
}

.project .description, .project img {
    flex: 1 1 auto;
    width: 50%;
}

#hello h1, .project h2 {
    color: #07dda4;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 25%;
}

footer ul {
    display: flex;
    gap: 1rem;
}

footer img:hover {
    background-clip: content-box;
    background-color: #07dda4;
}


/* Increase font size on larger screens */
@media screen and (min-width: 780px) {
    body {
        font-size: 24px;
    }
}

/* Stack project text and images in one column on small screens */
@media screen and (max-width: 780px) {
    .project {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .project .description, .project img {
        width: 100%;
    }

    .project .description p {
        margin-top: 0;
    }
}
