body {
    display: flex;
    flex-direction: column;
    font-family: 'Abel', 'Helvetica', sans-serif;
    font-size: 24px;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 1.5em 0;
    width: 70%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter', 'Helvetica', sans-serif;
    margin: 0;
    padding: 1rem 0;
}

h1 {
    font-size: 2em;
}

p {
    margin: 1em 0 1.5em 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #07dda4;
}

nav .wrapper {
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1em;
    margin-left: auto;
}

nav ul li {
    flex: 1;
}

nav ul li:hover {
    color: #07dda4;
    cursor: pointer;
}

#menu-icon {
    display: none;
}

#name {
    font-size: 2.5em;
}

.bkgLight { 
    background-color: #eee;
    color: #100c08;
}

.bkgDark {
    background-color: #100c08;
    color: #eee;
}

#hello p {
    margin-top: 0;
}

.project {
    align-items: center;
    display: flex;
    gap: 3%;
    padding: 5% 0;
}

.project .description, .project img {
    flex: 1 1 auto;
    width: 50%;
}

#hello h1, .project h2 {
    color: #07dda4;
}

footer .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer ul {
    display: flex;
    gap: 1rem;
}

footer .circle {
    border-radius: 50%;
}

footer .square {
    border-radius: 25%;
}

footer img:hover {
    background-clip: content-box;
    background-color: #07dda4;
}


/* Media queries for smaller screen styles */

@media screen and (max-width: 900px) {
    body {
        font-size: 18px;
    }

    .project {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .project .description, .project img {
        width: 100%;
    }

    .project .description p {
        margin-top: 0;
    }
}

@media screen and (max-width: 670px) {
    #menu-icon {
        display: block;
        margin-left: auto;
    }

    nav ul {
        display: none;
    }
}