* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	width: 1024px;
	text-align: center;
	height: 100%;
}


header {
	background-image: url('beans.jpg');
	height: 280px;
}

.col {
	float: left;
	width: 50%;
	padding: 20px 100px;
}

#left {
	margin-right: -60px;
	margin-left: 2%;
}

#right {
	margin-left: -40px;
	margin-right: 2%;
}

h3 {
	color: rgb(35,11,3);
	font-family: Arial;
}

footer {
	background-color: rgb(35,11,3);
	color: rgb(206,187,153);	
	font-family: Georgia, serif;
	clear: both;
	padding: 20px;
}

nav {
	height: 10%;
	background-color: rgb(35,11,3);
	color: rgb(206,187,153);	
	font-family: Georgia, serif;
}

nav li {
	display: inline;
	padding-right: 15px;
	padding-top: 30px;
}

p {
 	font-family: Georgia, serif;
 	font-size: 14px;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

